.dobrodoslica{
    color: white;
    text-size-adjust: 15;
    text-align: center;
    text-decoration: underline;
    background-image: url(../Images/air-conditioner-hd-8k-wallpaper-stock-photographic-image_915071-27093.jpg);
    background-size:cover;
   
}